.center {

    max-width: 800px;
    padding-top: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .collapsible {
    position: absolute;
    left: 574px;
    bottom: 50px;
    background-color: red;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 40%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    font-weight: bold;
  }

  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

/* .carousel-control-prev {
    background-color: blue;
}

.carousel-control-next {
    background-color: chartreuse;
} */

.carousel-indicators {
    padding-top: 150px;
}

/* .carousel-control-next-icon {
    background-color: red;
} */
