.center {

    max-width: 800px;
    padding-top: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/* .carousel-control-prev {
    background-color: blue;
}

.carousel-control-next {
    background-color: chartreuse;
} */

.carousel-indicators {
    padding-top: 150px;
}

/* .carousel-control-next-icon {
    background-color: red;
} */
