.containerHolder{
    padding-top: 70px;
}
.Title{
    color: red;

}

.email {
    cursor: pointer;
    color: blue;
    text-decoration:underline;
}

.LinkedIn {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
    
}

.Github {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}