.containerHolder{
    padding-top: 70px;
}
.Title{
    color: red;

}

.email {
    color: blue;
    
}

.myEmail,
.myLinkedIn {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.myGitHub {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}


.LinkedIn {
    color: blue;
    
}

.Github {
    color: blue;
}