body {
    background-image: url(../../images/moroccan-flower-dark.png);
    overflow-x: hidden;
    
}

.container {
    padding-top: 80px;
}

.bio{
    margin: auto;
    padding-top: 20px;
    font-weight: bold;
    font-size: x-large;
    color: white;
}

.myName{
    color:  white;
  
}
